aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
dnspython==2.6.1
frozenlist==1.4.1
guilded==0.0.4
guilded.py==1.13.2
idna==3.8
mongoengine==0.29.0
multidict==6.0.5
munch==4.0.0
pymongo==4.8.0
pyyaml==6.0.2
requests==2.32.3
urllib3==2.2.2
yarl==1.9.7
